.movie-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    border-bottom: 2px solid #ddd;
}

.top {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.movie-list .ket {
    justify-content: flex-end;
}

.movie-list img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}
