.Navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
}

nav ul {
    display: inline-block;
}

nav a {
    list-style: none;
    text-decoration: none;
    color: #646363;
}

nav li {
    display: inline-block;
    padding: 0 10px;
    font-size: 17px;
    font-weight: bold;
}

nav li a:hover {
    color: #a3a3a3;
}
