body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url('./Public/img/pattern.jpg');
}

.container {
    margin: 10px 15%;
    padding: 10px;
    background-color: #fff;
    flex-direction: column;
}
